@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/fonts/MaterialIcons-Regular.woff2") format("woff2");
}

/* fira */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/FiraCode-VF.woff2") format("woff2");
}

:root {
    --font-sans: "Inter var", sans-serif;
    --font-mono: "Fira Code", monospace;
}

.material-icons {
    font-family: "Material Icons";
}
