@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/fonts/MaterialIcons-Regular.woff2") format("woff2");
}

/* fira */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/FiraCode-VF.woff2") format("woff2");
}

:root {
    --font-sans: "Inter var", sans-serif;
    --font-mono: "Fira Code", monospace;
}

.material-icons {
    font-family: "Material Icons";
}

@layer components {
    .card {
        @apply px-3 py-2 rounded-lg shadow dark:border dark:border-uim-500 bg-light-surface dark:bg-dark-surface;
    }

    .card.clickable {
        @apply cursor-pointer hover:bg-uim-50/50 dark:hover:bg-uim-900;
    }
}

@layer utilities {
    .text {
        @apply text-light-text dark:text-dark-text;
    }

    .center {
        @apply flex justify-center items-center;
    }
}

.contexify_theme-accent {
    --contexify-menu-bgColor: #fff;
    --contexify-separator-color: #eee;
    --contexify-item-color: #666;
    --contexify-activeItem-color: #ec913f;
    --contexify-activeItem-bgColor: #fbedd5;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #ec913f;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #fff;
    --contexify-menu-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --contexify-menu-padding: 0;
}

input[type="text"] {
    @apply p-0 border-0 bg-transparent outline-none;

    &:focus {
        @apply outline outline-2;
    }
}
